In [1]:
import sqlite3 as sq

In [2]:
con=sq.connect('stud.db')

In [3]:
cur=con.cursor()

In [4]:
q1='create table stud(id int primary key,name text)'

In [5]:
cur.execute(q1)

In [6]:
q2='create table stud_details(id references stud(id),city text,mobileno int)'

In [7]:
cur.execute(q2)

In [8]:
con.commit()

2.insert into atleast 10 recordes for each table.

In [10]:
I1="insert into stud values(1,'om'),(2,'sai'),(3,'ram'),(4,'radha'),(5,'kishan'),(6,'shiv'),(7,'hanuman'),(8,'laxman'),(9,'ganesh'),(10,'balram')"

In [11]:
cur.execute(I1)

In [15]:
I2="insert into stud_details values(1,'surat',1122334455),(2,'bardoli',2967884430),(3,'mumbai',8980076400),(4,'vadodra',9574908765),(5,'pune',7834567890),(6,'bihar',2345678901),(7,'kedarnath',2131415161),(8,'badrinath',4530816234),(9,'vrundavan',9080706099),(10,'bardoli',9989778980)"

In [16]:
cur.execute(I2)

In [17]:
con.commit()

3.diplay whose student come from the surat city.

In [18]:
query3="select * from stud_details where city='surat' "

In [19]:
cur.execute(query3)

In [20]:
cur.fetchall()

[(1, 'surat', 1122334455)]

In [21]:
con.commit()

4.display student details whose city name start with b.

In [22]:
query4="select * from stud_details where city LIKE 'b%' "

In [23]:
cur.execute(query4)

In [24]:
cur.fetchall()

[(2, 'bardoli', 2967884430),
 (6, 'bihar', 2345678901),
 (8, 'badrinath', 4530816234),
 (10, 'bardoli', 9989778980)]

In [25]:
con.commit()

5.update mobile who are coming from 'surat'.

In [26]:
query5="update stud_details set mobileno=9574880099 where city='surat' "

In [27]:
cur.execute(query5)

In [28]:
con.commit()

In [29]:
con.close()