In [20]:
import sqlite3 as sq

In [21]:
con = sq.connect('ESM.db')

In [22]:
cur = con.cursor()

1.Create Table Employee.

In [23]:
q='''create table if not exists employee(eid int primary key,ename text,dept text,basic int,branch text)'''

In [24]:
cur.execute(q)

In [25]:
con.commit()

2.Insert 5 Record Directly.

In [26]:
i='''insert into employee values(1,'om','Account',10000,'surat'),
                                (2,'sai','Inventory',6000,'mumbai'),
                                (3,'ram','HR',7000,'baroda'),
                                (4,'radha','IT',9000,'pune'),
                                (5,'kishan','HR',5000,'bardoli')'''

 Insert 5 Record Using Tuple

In [27]:
i1=[(6,'varun','Account',10000,'delhi'),
    (7,'krishna','IT',4500,'chennai'),
    (8,'jay','HR',9000,'surat'),
    (9,'bheem','Inventory',5600,'vyara'),
    (10,'nakul','HR',9500,'bardoli')]

 Insert 5 Record Taking Input From User

In [28]:
i2="insert into employee values(?,?,?,?,?)"

In [29]:
L=[]

In [30]:
for x in range(5):
    no=int(input("Enter emp id:"))
    name=input("Enter emp name:")
    dept=input("Enter emp department:")
    basic=int(input("Enter emp basic:"))
    branch=input("Enter emp branch:")
    T=(no,name,dept,basic,branch)
    L.append(T)

Enter emp id:11
Enter emp name:vasu
Enter emp department:Account
Enter emp basic:11000
Enter emp branch:delhi
Enter emp id:12
Enter emp name:shankar
Enter emp department:HR
Enter emp basic:7000
Enter emp branch:nagpur
Enter emp id:13
Enter emp name:dev
Enter emp department:IT
Enter emp basic:15000
Enter emp branch:vyara
Enter emp id:14
Enter emp name:rudra
Enter emp department:Inventory
Enter emp basic:5000
Enter emp branch:bardoli
Enter emp id:15
Enter emp name:shiv
Enter emp department:HR
Enter emp basic:6000
Enter emp branch:navsari

In [31]:
cur.executemany(i2,L)

In [32]:
con.commit()

3.Update Records Who are From "Surat" Branch With Increament In Salary 10%.

In [33]:
U="update employee set basic=basic+(basic*10)/100 where branch='surat'"

In [35]:
cur.execute(U)

In [36]:
con.commit()

4.Print All Records.

In [37]:
S="select * from employee"

In [38]:
cur.execute(S)

In [39]:
R=cur.fetchall()

In [42]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 11
emp name: vasu
emp dept: Account
emp basic: 11000
emp branch: delhi
emp id: 12
emp name: shankar
emp dept: HR
emp basic: 7000
emp branch: nagpur
emp id: 13
emp name: dev
emp dept: IT
emp basic: 15000
emp branch: vyara
emp id: 14
emp name: rudra
emp dept: Inventory
emp basic: 5000
emp branch: bardoli
emp id: 15
emp name: shiv
emp dept: HR
emp basic: 6000
emp branch: navsari

5.Print Records Where Dept Is "HR" And "IT".

In [43]:
Z="select * from employee where dept in('HR','IT')"

In [44]:
cur.execute(Z)

In [45]:
R=cur.fetchall()

In [46]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 12
emp name: shankar
emp dept: HR
emp basic: 7000
emp branch: nagpur
emp id: 13
emp name: dev
emp dept: IT
emp basic: 15000
emp branch: vyara
emp id: 15
emp name: shiv
emp dept: HR
emp basic: 6000
emp branch: navsari

6.Print Records In Sorting Order Of Department.

In [53]:
B="select * from employee order by dept"

In [61]:
cur.execute(B)

In [62]:
R=cur.fetchall()

In [63]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 11
emp name: vasu
emp dept: Account
emp basic: 11000
emp branch: delhi
emp id: 12
emp name: shankar
emp dept: HR
emp basic: 7000
emp branch: nagpur
emp id: 15
emp name: shiv
emp dept: HR
emp basic: 6000
emp branch: navsari
emp id: 13
emp name: dev
emp dept: IT
emp basic: 15000
emp branch: vyara
emp id: 14
emp name: rudra
emp dept: Inventory
emp basic: 5000
emp branch: bardoli

7. Print records where basic is >6000.

In [64]:
B="select * from employee where basic>6000"

In [65]:
cur.execute(B)

In [66]:
R=cur.fetchall()

In [67]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 11
emp name: vasu
emp dept: Account
emp basic: 11000
emp branch: delhi
emp id: 12
emp name: shankar
emp dept: HR
emp basic: 7000
emp branch: nagpur
emp id: 13
emp name: dev
emp dept: IT
emp basic: 15000
emp branch: vyara

8. Print records whrere employee name second character is "r".

In [68]:
v="select * from employee where ename like'_r%'"

In [69]:
cur.execute(v)

In [70]:
R=cur.fetchall()

In [71]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

9. Grouping record of employee who are from "Account" and "Inventory".

In [74]:
c="select * from employee where dept in('Account','Inventory') group by dept"

In [75]:
cur.execute(c)

In [76]:
R=cur.fetchall()

In [77]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 11
emp name: vasu
emp dept: Account
emp basic: 11000
emp branch: delhi
emp id: 14
emp name: rudra
emp dept: Inventory
emp basic: 5000
emp branch: bardoli


10. Print all records based on branch name in descending order.

In [78]:
m="select * from employee order by dept desc"

In [79]:
cur.execute(m)

In [80]:
R=cur.fetchall()

In [81]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 14
emp name: rudra
emp dept: Inventory
emp basic: 5000
emp branch: bardoli
emp id: 13
emp name: dev
emp dept: IT
emp basic: 15000
emp branch: vyara
emp id: 12
emp name: shankar
emp dept: HR
emp basic: 7000
emp branch: nagpur
emp id: 15
emp name: shiv
emp dept: HR
emp basic: 6000
emp branch: navsari
emp id: 11
emp name: vasu
emp dept: Account
emp basic: 11000
emp branch: delhi

In [82]:
con.commit()

In [83]:
con.close()